@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
	font-family: "Inter", sans-serif;
}

/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
	transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
	opacity: 0;
}

.form-control {
	display: flex;
	flex-direction: column;

	gap: 5px;

	margin-bottom: 20px;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #0ea5e9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #0b80b7;
}
